*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
	height:126px;
	background: #009688;
	width: 100%;
	z-index: 100;
}
body{
	background: #DFDFDF;
}
.without{
	padding: 0;
	margin: 0;
}
.whatsapp{
	position: absolute;
	top: 20px;
}
p{
	color: grey;
}
.izquierda{
    height: 57px;
    width: 386px;
    position: relative;
    left: 93px;
    border: 1px solid #CBCBCB;
}
.izquierda2{
    width: 386px;
    position: relative;
    left: 93px;
    border: 1px solid #CBCBCB;
    background-color: white;
}
.complete{
	overflow-y:visible;
    overflow-x:hidden;
    height:510px;
}

.grey{
	background:#EEEEEE;
	height: 57px;
	border-bottom: 1px solid #CBCBCB;
}
.gian2{
	width:10%;
	border-radius: 51px;
	margin-left: 15px;
	margin-top: 10px;
}
.icon1{
	float: right;
	margin-top: 21px;
	color:#777777;
	margin-right: 20px;
	font-size: 20px;
}
.icon-message{
	margin:13px;
}

.buscador{
	background:#FEFEFE;
}

.search{
	width: 365px;
	padding: 6px 32px;
	margin: 12px 9px;
	border-radius: 3px;
	border: 1px #F3EBE5 solid;
	font-family:'Roboto',sans-serif;
}

.icon-search{
	position: absolute;
	margin: 19px 18px;
	color: gray;
}
.foto{
	width:10%;
	border-radius: 54px;
	margin-left: 20px;
	margin-top: 10px;
}
.uno{
	font-family:'Roboto',sans-serif;
	font-size: 0.9em;
}
.dos{
	font-family:'Roboto',sans-serif;
	font-size: 0.8em;
}
/*box1*/
.chat{
	background: #FEFEFE;
	border-bottom: 1px solid #CBCBCB;
	height: 65px;
}

.labo{
	position: relative;
	bottom: 49px;
	left: 73px;
}

.aldo1{
	position: relative;
	bottom: 42px;
	left: 73px;
	font-family:'Roboto',sans-serif;
	font-size: 0.8em;
}




.nombre{
	position: relative;
	bottom: 42px;
	left: 73px;
}

.escritura{
	position: relative;
	bottom: 36px;
	left: 73px;
}
.hora{
	position: relative;
	bottom: 80px;
	float: right;
	margin-right: 10px;
	font-size: 0.7em;
	font-family:'Roboto',sans-serif;
}

.derecha{
	border:1px solid #CBCBCB;
    height: 57px;
    width: 825px;
    position:relative;
    right: 90px;
    z-index: 100;
}
.derecha2{
    height: 563px;
    width: 825px;
    margin-bottom: 2.1%;
    position:relative;
    right: 90px;
    background:#EDE9E4;
}
.background{
	background: url("../image/chat-panel-bg.png");
	height: 510px;
	border-top:1px solid #CBCBCB;
	border-left:1px solid #CBCBCB;
	border-right:1px solid #CBCBCB;
	overflow-y: scroll;
	overflow-x: hidden;
	height:90.4%;
}
::-webkit-scrollbar {
    width: 8px;
    height:10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px grey; 
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px grey; 
}
.grey2{
	background:#EEEEEE;
	height: 8px;
	border-bottom: 1px solid #CBCBCB;
}
.laboratoria{
	width:5%;
	border-radius: 54px;
	margin-left: 15px;
	margin-top: 6px;
}
.icon2{
	color:#777777;
	position: relative;
	left:740px;
	font-size: 22px;
	bottom: 40px;
	width: 60px;
}
.icon-attachment{
	margin-right: 10px;
}

.texto{
	float: right;
	margin-right: 33em;
	margin-top: 0.6em;
	font-family:'Roboto',sans-serif;
}
.smile{
	background: #F2F0EE;
	height:56px;
	border:1px solid #CBCBCB;
}
.icon-insert_emoticon{
	float:left;
	margin-top: 16px;
	color:#777777;
	margin-left: 20px;
	font-size: 23px;
}
.escribe{
	width: 723px;
	padding: 8px 14px;
	margin: 12px 9px;
	border-radius: 3px;
	border: 1px #F3EBE5 solid;
	font-family:'Roboto',sans-serif;
	margin-top: 10px;
	border-radius: 4px;

}
.icon-mic{
	float:right;
	color:#777777;
	margin-right: 14px;
	font-size: 23px;
	position: relative;
	bottom: 40px;
	
}
.dialogo{
  margin-top: 3%;
}
ul li {
   text-decoration: none;
   display: block;
}
.right {
background-color: white;
width: 40%;
margin-left: 5%;
position: relative;
bottom: -2%;
font-size:0.9em;
font-family:'Roboto',sans-serif;
border-radius: 4px;

}
.space{
	margin-top: 0.5%;
}
.parrafo1 {
	padding-top: 2%;
	margin-left: 5%;
	font-family: sans-serif;
	font-size: 12px;
	color: gray;
}
.verde1{
	position: relative;
	left:520px;
	width: 27%;
	background-color: #DBF8C5;
	border-radius: 5px;
	padding-top: 1%;
	font-size: 12px;
}
.verde2{
	position: relative;
	left:577px;
	width: 20%;
	background-color: #DBF8C5;
	border-radius: 5px;
	padding-top: 1%;
	font-size: 12px;
}

.time1{
  position: relative;
  right: -87%;
  font-family: sans-serif;
  font-size: 10px;
  color: gray;
}
.time2{
  position: relative;
  right: -80%;
  font-family: sans-serif;
  font-size: 11px;
  color: gray;
}
.blue{
	color: #A9DCF4;
	font-weight: bold;
}
.pink{
	color: #ED9AC8;
	font-weight: bold;
}
.yellow{
	 color: #E9CF7B;
	 font-weight: bold;
}
.green{
	 color: #46D9BD;
	 font-weight: bold;
}